body {
 background-color: #87CEFA;
 color: black;
 text-align: center;
 font-size: medium;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.h1 {
 background-color: #0066ff;
 color: #ffffff;
 text-shadow:5px 5px 10px white;
 text-align: center;
 font: italic 200% fantasy;
 font-variant-ligatures: normal;
 font-family: inherit;
}

label {
width:60px;
}

input:invalid {
  border: 2px solid orange;
}


input:valid {
  border: 2px solid black;
}