body {
 background-color: #30B193;
 color: #FFFFFF;
}
h1 {
 color: white;
 text-align: center;
 font: italic 200% fantasy;
}
p1 {
 background-color: #FFFF33;
 color: #333300;
 text-align: right;
 border: 3px groove #FFFF33;
}